# Ignore everything except Python scripts, markdown files, fasta files, text files, specific example files
*
!*/
!*.py
!*.fasta
!*.md
!*.txt
!*.csv
!bulk_input_example.tsv
!bulk_input_template.tsv
!Data/linkers.tsv
TODO.md
venv
venv*